.car_viewa {
    display: flex;
    height: 150px;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.car_viewa .img-responsive {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.car_viewb {
    display: flex;
    height: 150px;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

.car_viewb .img-responsive {
    height: 100%;
    width: 32.5%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}